<form name="templateForm" class="align-self-center">
  <div class="form-group row">
    <label class="col-2 col-form-label">Name</label>
    <div class="col-10">
        <input class="form-control" type="text" id="name" ng-model="template.data.name" required />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Amount</label>
    <div class="col-10">
        <input class="form-control" format="0.00" type="number" id="amount" step="0.01" ng-model="template.data.amount" required />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Category</label>
    <div class="col-10">
        <select class="form-control" id="category" ng-model="template.data.category"
            ng-options="item._id as item.name for item in template.categories" required>
        </select>
    </div>
  </div>
</form>

<nav class="navbar navbar-light fixed-bottom bg-faded">
    <form class="form-inline">
        <a class="navbar-brand" ng-if="!template.data._id">Create new Template</a>
        <a class="navbar-brand" ng-if="template.data._id">Update Template</a>
        <div class="btn-group" >
            <button type="button" class="btn btn-outline-info" ui-sref="template.list" tooltip-placement="top" uib-tooltip="Go to the list">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-primary" ng-if="template.data._id" ng-click="template.update(template.factory, template.data, 'template.list')" ng-disabled="!templateForm.$valid">
                <span class="fa fa-check" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-success" ng-if="!template.data._id" ng-click="template.create(template.factory, template.data, 'template.list')"  ng-disabled="!templateForm.$valid">
                <span class="fa fa-check" aria-hidden="true"></span>
            </button>
        </div>
        <button type="button" class="btn btn-outline-danger navbar-toggler-right" ng-if="template.data._id" ng-click="template.delete(template.factory, template.data._id, 'template.list')" >
            <span class="fa fa-ban" aria-hidden="true"></span>
        </button>
    </form>
</nav>