<ul class="list-group" style="padding-bottom: 66px;" ng-click="template.closeUse()">
  <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="tpl in template.data" ng-click="template.modal(tpl._id)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1" ng-style="{'color': template.getCategoryColor(tpl.category)}">
        € {{::tpl.amount | amount}}</h5>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">
        {{::tpl.name}}
      </p>
      <span>
      <span class="btn btn-sm btn-outline-info" ng-click="template.use($event, tpl._id)">
        <span class="fa fa-clipboard" aria-hidden="true"></span>
      </span>
      <span class="btn btn-sm btn-outline-primary" ng-click="template.update($event, tpl._id)">
        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
      </span>
      </span>
    </div>
  </a>
</ul>


<!--<div class="card bottom-card" ng-show="template.apply">
  <div class="card-block">
    <h4 class="card-title">{{template.apply.name}}</h4>
    <p class="card-text">
       <small class="text-muted">{{template.apply.amount | amount}}</small>
    </p>
    <p class="card-text">
      <test-datepicker lang="datatable.lang" source="template.apply.date" ></test-datepicker>
    </p>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-danger" ng-click="template.closeUse()" ng-show="template.apply"><i class="fa fa-ban" aria-hidden="true"></i></button>
    <button class="btn btn-outline-success" ng-click="template.generate()"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
  </div>
</div>-->

<nav class="navbar navbar-light fixed-bottom bg-faded">
    <form class="form-inline" id="applyForm" name="applyForm" ng-show="template.apply">
      <div class="form-group row" >
        <label class="col-2 col-form-label">{{'DATE' | translate}}</label>
        <div class="col-10">
            <input bootstrap-datepicker required type="text" class="form-control"
            placeholder="JJ/MM/AAAA"
            ng-model="template.apply.date"
            datepicker-io-format="YYYY-MM-DD"
            orientation="bottom" required/>
        </div>
        <button class="btn btn-outline-success navbar-toggler-right" ng-click="template.generate()"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
      </div>
    </form>
    <form class="form-inline" ng-click="template.closeUse()">
        <a class="navbar-brand text-primary" >{{'LIST_OF_TEMPLATES' | translate}}</a>
        <button class="btn btn-outline-danger" ng-click="template.closeUse()" ng-show="template.apply"><i class="fa fa-ban" aria-hidden="true"></i></button>
        <button class="btn btn-outline-primary navbar-toggler-right" ui-sref="template.add"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </form>
</nav>