<ul class="list-group" style="padding-bottom: 66px;">
  <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="tpl in template.data" ng-click="template.modal(tpl._id)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1" ng-style="{'color': template.getCategoryColor(tpl.category)}">
        € {{::tpl.amount | amount}}</h5>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">
        {{::tpl.name}}
      </p>
      <span>
      <span class="btn btn-sm btn-outline-success" ng-click="template.use($event, tpl._id)">
        <span class="fa fa-clipboard" aria-hidden="true"></span>
      </span>
      <span class="btn btn-sm btn-outline-primary" ng-click="template.update($event, tpl._id)">
        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
      </span>
      </span>
    </div>
  </a>
</ul>

<nav class="navbar navbar-light fixed-bottom bg-faded">
    <form class="form-inline">
        <a class="navbar-brand" >List of Templates</a>
        <button class="btn btn-outline-primary navbar-toggler-right" ui-sref="template.add"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </form>
</nav>