<table class="table">
  <thead class="thead-default">
    <tr>
      <th class="align-middle">Name</th>
      <th class="align-middle"><div class="pull-right">Action</div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form name="categoryForm">
        <th class="align-middle">
          <div class="input-group">
            <input class="form-control form-control-sm" type="text" id="name" ng-model="category.form.name" required />
            <span class="input-group-addon" id="basic-addon2">color</span>
            <input class="form-control form-control-sm col-2"colorpicker ng-model="category.form.color" type="text" ng-style="category.color(category.form.color)">
          </div>
        </th>
        <th class="align-middle">
          <button class="btn btn-outline-primary pull-right" ng-click="category.create(category.factory, category.form)" ng-disabled="!categoryForm.$valid">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </th>
      </form>
    </tr>
    <tr ng-repeat="exp in category.data">
      <td ng-style="category.color(exp.color)" class="align-middle">{{exp.name}}</td>
      <td class="align-middle">
          <button type="button" class="btn btn-outline-danger pull-right" ng-click="category.delete(category.factory, exp._id, 'category.list')">
              <span class="fa fa-ban" aria-hidden="true"></span>
          </button>
      </td>
    </tr>
  </tbody>
</table>
<nav class="navbar navbar-light fixed-bottom bg-faded">
    <form class="form-inline">
        <a class="navbar-brand" >List of Categories</a>
    </form>
</nav>
