<!-- the control -->
<div class="input-group">
    <span class="input-group-addon col-4 bg-info text-white">{{'DATE' | translate:lang}}</span>
    <span class="input-group-addon col" style="background-color:#fff;">{{source | date}}</span>
    <span class="input-group-btn">
        <button class="btn bg-info text-white" type="button" data-toggle="modal" data-target="#flipFlop" ng-click="ctrl.reload()">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
    </span>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-info no-border" ng-click="ctrl.inc(-1, 'M')">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info no-border" ng-click="ctrl.inc(1, 'M')">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </button>
                </div>
                <h4 class="modal-title text-muted" id="modalLabel">{{(source | dateheader) | translateMonth:ctrl.lang}}</h4>
            </div>
            <div class="modal-body align-self-center">
                <div class="align-self-center">
                    <table>
                        <tr>
                            <td class="text-center text-muted">{{'Mon' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Tue' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Wed' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Thu' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Fri' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Sat' | translateDay:ctrl.lang}}</td>
                            <td class="text-center text-muted">{{'Sun' | translateDay:ctrl.lang}}</td>
                        </tr>
                        <tr ng-repeat="week in ctrl.table">
                            <td ng-repeat="day in week">
                                <button type="button" class="btn no-border" 
                                    ng-class="{'btn-primary': ctrl.isTheDate(day.data),
                                    'btn-outline-primary': !ctrl.isTheDate(day.data) && ctrl.isTheMonth(day.data),
                                    'btn-outline-secondary': !ctrl.isTheMonth(day.data),}" 
                                    ng-click="ctrl.set(day.data)">
                                    <span>{{day.display | numberFixedLen:2}}</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary no-border" data-dismiss="modal">
                    {{'CLOSE' | translate:datatable.lang}}
                </button>
            </div>
        </div>
    </div>
</div>