<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/ico" href="/assests/images/favicon.ico">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->

    <title>Personnal Expense</title>
  </head>
  <body ng-app="personnalExpenseApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav ng-controller="NavbarCtrl as nav" class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" ng-click="collapse = !collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a ng-hide="nav.UserService.user.token" class="navbar-brand"  ui-sref="home">Personnal Expense</a>
      <a ng-cloak ng-show="nav.UserService.user.token" class="navbar-brand"  ui-sref="charts">Hello {{nav.UserService.user.username}}</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" ui-sref="datatable.list">Datatable</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" ui-sref="template.list">Templates</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" ui-sref="category.list">Categories</a>
          </li>
          <li ng-show="nav.UserService.user.token" class="nav-item active">
            <a class="nav-link"  ui-sref="user.update">Account</a>
          </li>
          <li ng-show="nav.UserService.user.token" class="nav-item active" style="cursor: pointer;">
            <a class="nav-link" ng-click="nav.UserService.disconnect()">Disconnect</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top:66px;">
      <ui-view></ui-view>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/tether/dist/js/tether.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/bootbox.js/bootbox.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-bootstrap-datepicker/angular-bootstrap-datepicker.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!--conf & base --> 
        <script src="app.js"></script>
        <script src="config.js"></script>
        
        <!-- Directives -->
        <script src="directives/compareTo.js"></script>
        <script src="directives/angular-boostrap4-datepicker/datepicker.controller.js"></script>
        <script src="directives/angular-boostrap4-datepicker/datepicker.js"></script>

        <!-- module item -->
        <script src="modules/item/item.js"></script>

        <!--module main -->
        <script src="modules/main/controller/main.js"></script>
        <script src="modules/main/controller/navbar.js"></script>

        <!-- module datatable -->
        <script src="modules/user/config/user.route.js"></script>
        <script src="modules/user/controller/user.js"></script>
        <script src="modules/user/service/user.service.js"></script>
        <script src="modules/user/factory/user.factory.js"></script>
        <!-- module category -->
        <script src="modules/category/config/category.route.js"></script>
        <script src="modules/category/factory/category.factory.js"></script>
        <script src="modules/category/controller/category.js"></script>
        <!-- module template -->
        <script src="modules/template/config/template.route.js"></script>
        <script src="modules/template/controller/template.js"></script>
        <script src="modules/template/controller/template.form.js"></script>
        <script src="modules/template/factory/template.factory.js"></script>
        <!-- module datatable -->
        <script src="modules/datatable/config/datatable.route.js"></script>
        <script src="modules/datatable/controller/datatable.js"></script>
        <script src="modules/datatable/controller/datatable.form.js"></script>
        <script src="modules/datatable/factory/datatable.factory.js"></script>
        <!-- module charts -->
        <script src="modules/charts/config/charts.route.js"></script>
        <script src="modules/charts/controller/charts.js"></script>
        <script src="modules/charts/factory/charts.factory.js"></script>
        <!-- endbuild -->
</body>
</html>
