<h1 class="text-muted">Charts</h1>
<div class="row">
  <div class="col-xs-12 col-md-5">
    <div class="card">
      <div class="card-header bg-faded text-primary">
        Demo
      </div>
      <div class="card-block">
        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="data" chart-labels="labels">
        </canvas> 
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-7">
    <div class="card">
      <div class="card-header bg-faded text-primary">
        Demo
      </div>
      <div class="card-block">
        <canvas id="bar" class="chart chart-bar"
          chart-data="data2" chart-labels="labels2" chart-series="series2">
        </canvas> 
      </div>
    </div>
  </div>
</div>
  
<p>Coming soon !</p>