<h2>List of Expenses</h1>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>
        <div class="pull-right">
          <button class="btn btn-sm btn-primary" ui-sref="datatable.add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="exp in datatable.data">
      <th scope="row">{{exp.date | date}}</th>
      <td>{{exp.name}}</td>
      <td>{{exp.amount}}</td>
      <td>{{datatable.getCategory(exp.category)}}</td>
      <td>
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-sm btn-info" ui-sref="datatable.update({id:exp._id})">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="datatable.delete(datatable.factory, exp._id)">
                <span class="fa fa-ban" aria-hidden="true"></span>
            </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
