<table class="table">
  <thead class="thead-default">
    <tr>
      <th class="align-middle">Date</th>
      <th class="align-middle">Name</th>
      <th class="align-middle"><div class="pull-right">Amount</div></th>
      <th class="align-middle text-center">Category</th>
      <th class="align-middle">
        <button class="btn btn-outline-primary pull-right" ui-sref="datatable.add"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="exp in datatable.data">
      <th class="align-middle" scope="row" ng-click="datatable.modal(exp._id)">{{exp.date | date}}</th>
      <td class="align-middle" ng-click="datatable.modal(exp._id)">{{exp.name}}</td>
      <td class="align-middle" ng-click="datatable.modal(exp._id)"><div class=" pull-right">{{exp.amount | amount}} €</div></td>
      <td class="align-middle text-center" ng-click="datatable.modal(exp._id)" ng-style="{'background-color': datatable.getCategoryColor(exp.category)}">{{datatable.getCategory(exp.category)}}</td>
      <td class="align-middle">
          <button type="button" class="btn btn-outline-primary pull-right" ui-sref="datatable.update({id:exp._id})">
              <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </button>
      </td>
    </tr>
  </tbody>
</table>

<nav class="navbar navbar-light fixed-bottom bg-faded">
    <form class="form-inline">
        <a class="navbar-brand" >List of Expenses</a>
        <button class="btn btn-outline-primary navbar-toggler-right" ui-sref="datatable.add"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </form>
</nav>