<form name="userForm" class="align-self-center">
    <div class="jumbotron">
        <h1 class="display-6">Create an account</h1>
        <hr class="my-4">
        <div class="form-group row">
            <label class="col-2 col-form-label">First Name</label>
            <div class="col-10">
                <input class="form-control" type="text" id="firstname" ng-model="user.data.firstname" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Last Name</label>
            <div class="col-10">
                <input class="form-control" type="text" id="lastname" ng-model="user.data.lastname" required/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Username</label>
            <div class="col-10">
                <input class="form-control" type="text" id="username" ng-model="user.data.username" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input class="form-control" type="password" id="password" ng-model="user.data.password" required />
            </div>
        </div>
        <hr class="my-4">
        <p class="lead">
           <button type="button" class="btn btn-success col-12" ng-disabled="!userForm.$valid" ng-click="user.create(user.factory, user.data, 'user.login')">
                <span class="fa fa-user-plus" aria-hidden="true"></span> Create
            </button>
        </p>
    </div>
</form>