<form name="connectForm">
    <div class="jumbotron">
        <h1 class="display-6">Personnal Expense</h1>
        <hr class="my-4">
        <p class="lead">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                <input ng-model="user.service.user.pseudo" required type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </p>
        <p class="lead">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                <input ng-model="user.service.user.password" required type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
        </p>
        <hr class="my-4">
        <p class="lead">
            <button class="btn btn-primary btn-lg col-12" ng-click="user.service.connect()" ng-disabled="!connectForm.$valid">Let's go !</button>
        </p>
        <hr class="my-4">
        <p class="lead">
            <button class="btn btn-success col-12" ui-sref="user.add">Create an account</button>
        </p>
    </div>
</form>